*{
    padding:0%;
    font-size: 20px;
    margin:0;
    border-width:0;
    box-sizing: border-box;
   }
.card-w{
    width: 18rem;
    background:white;
}

#color-h5{
    text-align: center; color:white; background-color:#660066; font-family: initial;font-size: 24px;
}
body {
    background-color:#EBC2CD;
}

p{
font-size: 12px;
}
#footer{
    text-align: center;
     background-color:#EBC2CD;
}
.footer{
    position:absolute;
bottom:0;
width:100%;
background-color: red;
}
.card{
    background-color:#EBC2CD;
    display: initial;
}
p{
    font-size:20px;
}
.card-body{
    background: white;
    border-radius: 5px;
}
.d-inline-block {
    display:flow-root; 
}